@import "main";
$color1:#ff00ff;
#div1{
    color: $color1;
    .p1{
        border: 1px solid black;
        &-span1 {
          color: black;  
        }
    }
    &:hover{
        background: red;
    }
}
#div2{
    background-color: $color1;
}
#div3{
    border: {
        color: $color1;
        width: 1px;
        
    }
}
#div4{
    border: {
        left: {
            color: $color1;
        }
    }
}
$val1:width;
#div5{
    #{$val1}:10px;
}
@mixin mm($w,$h) {
    width: $w;
    height: $h;
    background: red;
}
#div6{
    @include mm(100px,200px)
}
#div7{
    font-size: 20px;
    color: blue;

}
#div8{
    @extend #div7;
    background: #000;   
}
#div9{
    width: 5px+5px;
    height: 5px+6;
    font-size: 2px*10;
    border-width: (100px/10);
    width: percentage(2/100);
    
}
$aurl:"xx.jpg";
#div10{
    background-image: url("css/xx.jpg");
}
#div11{
    color: lighten(red, 20%);
    border-color: darken(red, 20%);
}
#div12{
    border: 1px solid black;

}
$m1: (color :red,font-size:12px);
#div13{
    color: map-get($m1,color);
}
$str:'red';
#div-#{$str}{
    color: red;
}
/*color is #{$str}*/
@for $i from 1 through 10 {
    #div-#{$i}{
        margin: #{$i}px;
    }
}    
$arr: a b c d;
@each $var in $arr {
    #span-#{$var}{
        color: red;
    }
}
$j:0;
@while $j<10 {
    #p-#{$j}{
        color: red;
    }
    $j:$j+1;
}
@function foo($key) {
    @if ($key==0) {
        @return red;
    }
    @else if($key==2){
        @return blue;
    }
    @else{
        @error 'color error';
        @return yellow;
    }
}
#div23{
    color: foo(2)
}
/*! 强制*/
/*
*/
//