<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
    <!-- <ul>
        <li v-for="{val,index} in arr ">{{val}}---{{index}}</li>
    </ul>
    <ul>
        <li v-for="(val,name,index) in obj">{{val}}---{{name}}---{{index}}</li>
    </ul> -->
    <ul>
        <li v-for="(val,index) in student">
            姓名: {{val.name}} 年龄: {{val.age}} 学校: {{val.school}}
        </li>
    </ul>
</div>
    <script>
    new Vue({
        el:"#app",
        data:{
            arr:[1,2,3,4],
            obj:{
                name:"xiao ming",
                age:"21",
                school:"heida"
            },
            student:[
                {
                    name:"aaa",
                    age:'20',
                    school:"heida"
                },
                {
                    name:"bbb",
                    age:'22',
                    school:"heida"
                },
                {
                    name:"ccc",
                    age:'23',
                    school:"heida"
                },
                {
                    name:"ddd",
                    age:'25',
                    school:"heida"
                },{
                    name:"eee",
                    age:'19',
                    school:"heida"
                }
            ]
        }
    })
    </script>
</body>
</html>