<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg" placeholder="请输入用户名">
        <input type="text" v-model.lazy="msg" placeholder="请输入用户名">
        <input type="text" v-model.number="msg" placeholder="请输入用户名">
        <input type="text" v-model.trim="msg" placeholder="请输入用户名">
        用户名:{{msg}}
        <br/>
        <input v-model="hobbyArr" type="checkbox" name="hobby" value="篮球">篮球
        <input v-model="hobbyArr" type="checkbox" name="hobby" value="足球">足球
        <input v-model="hobbyArr" type="checkbox" name="hobby" value="羽毛球">羽毛球
        <input v-model="hobbyArr" type="checkbox" name="hobby" value="乒乓球">乒乓球
         我的爱好{{hobbyArr}}
         <br/>
         <input v-model="sexData" type="radio" name="sex" value="男">男
         <input v-model="sexData" type="radio" name="sex" value="女">女
        性别：{{sexData}}
        <br/>
        <select name="" id="" v-model="school">
            <option value="黑大">黑大</option>
            <option value="林大">林大</option>
            <option value="农大">农大</option>
        </select>
        学校:{{school}}
    </div>
    <script>
    let vm = new Vue({
        el:"#app",
        data:{
            msg:"",
            hobbyArr:[],
            sexData:"",
            school:""
        }
    })
    </script>
</body>
</html>